.holder{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}

.hero .recipe-image{
    height: 300px;
    position: relative;
    box-shadow: 3px 3px 10px -5px #f1f1f1;
    border-radius: 10px;

}

.cat{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgb(198, 114, 114);
    border: 1px solid red;
    padding: 3px 7px;
    border-radius: 15px;
    font-size: 14px;
}

.hero .recipe-image img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

.hero .title{
    padding: 10px;
}

.hero .title h1 {
    margin: 0;
    font-size: 3rem;
    color: #f0f0f0;
}
.hero .title p {
    color: #bcbcbc;
}

.lists{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.ingredients{
    display: flex;
    flex-direction: column;
}