.holder{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hero .recipe-image {
    position: relative;
    border-radius: 10px;
    max-width: 100%; 
    margin: 0 auto;
}

.hero .recipe-image:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, black,rgba(5, 5, 5, 0.526), transparent);
    border-radius: 10px;

}

.hero .recipe-image img {
    width: 100%; 
    height: auto; 
    max-width: 700px; 
    max-height: 675px; 
    object-fit: cover;
    aspect-ratio: 16/9;
    border-radius: 10px;
    display: block; 
    margin: 0 auto; 
}

.cat{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 166, 0, 0.511);
    border: 1px solid orange;
    padding: 3px 7px;
    border-radius: 15px;
    font-size: 14px;
}


.hero .title{
    padding: 20px 10px 0;
    position: absolute;
    bottom: 20px;
    left: 0;
}

.hero .title h1 {
    margin: 0;
    font-size: clamp(1.8rem,7vw,4rem);
    color: #f0f0f0;
    font-weight: 500;
}
.hero .title p {
    color: #bcbcbc;
    margin: 0;
    font-size: clamp(0.8rem,3vw,1.2rem);
}

.lists{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.ingredients{
    display: flex;
    flex-direction: column;
}


.accordions {
    width: 420px;

}

@media (max-width: 1155px) {
    .accordions{
        margin-top: 15px;
        width: 100%;
        max-width: 700px;
    }
}

