.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
    width: 227px;
    color: #111;
}

.card .name {
    font-weight: bold;
    font-size: 24px;
} 
.card .name a{
    text-decoration: none;
    color: #111;
    transition: color 120ms ease-in;
}

.card .name a:hover {
     color: orange;
}

.card .desc {
    color: #666;
} 
.card img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1 /1;
    border-radius: 10px;
    object-fit: cover;
}