.recipeContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    justify-content: center;
    padding: 10px; 
}

.filter{
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    gap: 10px;
}

.image img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 16/ 9;
    background-attachment: fixed;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    flex-wrap:wrap;
    padding: 10px 5px;
}

.container .text {
    max-width: 500px;
}

.container .text h1 {
    font-size: clamp(2.4rem,15vw,5rem);
    color: #f1f1f1;
    margin: 0;
}
.container .text p {
    font-size: clamp(1.2rem,3vw,1.2rem);
    color: #dddddd;
}

.wigglingSVG{
    max-width: 300px;
    animation: wiggle 1500ms ease-in-out infinite;
}


@keyframes wiggle {
    0%,100% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(20px);
    }
}

