.recipeContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px ,1fr));
    gap: 10px;
    /* display: flex;
    gap: 10px;
    flex-wrap: wrap; */
}

.filter{
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    gap: 10px;
}