.recipeContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
     justify-content: center;
    padding: 10px; 
}

.filter{
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    gap: 10px;
}

.image img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 16/ 9;
    background-attachment: fixed;
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
}

.container .text {
    max-width: 500px;
}

.container .text h1 {
    font-size: clamp(1.8rem,7vw,4rem);
}
.container .text p {
    font-size: clamp(0.8rem,3vw,1.2rem);
}

.wigglingSVG{
    max-width: 800px;
}
