nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-bottom: 20px;
}

.navList{
    display: flex;
    column-gap: 20px;
    list-style: none;
    justify-content: center;
}

nav a, nav div {
    text-decoration: none;
    color: #111;
    transition: color 120ms ease-in;
}

nav a:hover {
    color: orange;
}